header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;

    img {
        height: 76px;
        width: 226px;
    }
    ul {
        display: flex;
    }

    li {
        list-style: none;
        margin: 0 15px;
        cursor: pointer;
        font-size: 20px;
        font-family: poppins, sans-serif;
    }
}